@{
    ViewData["Title"] = "Home Page";
}

<div class="container align-items-center justify-content-center d-flex" style="height:500px">
    <div class="text-center">
      <h1 class="display-4">OnTopOfIt</h1>
      <p>An app that helps you to stay organised and focused on your daily tasks.</p>
        </div>
</div>

